.Size-container {
    margin-bottom: 15px;
    width: 240px;
    display: flex;
    flex-wrap: wrap;
}

.Size-container .Size {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 18px;
}

.Size-container .Size-deactivated {
    color: #B5B5B5;
    border: 1px solid #B5B5B5;
}

.Size:not(.Size-deactivated):hover {
    background-color: #EFEFEF;
    cursor: pointer;
}

.Size.Size-selected {
    background-color: #EFEFEF;
}