
.Product {
    display: flex;
    flex-direction: column;
    border: 1px solid #CBCBCB;
    width: 285px;
    height: 290px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    margin: 15px;
}

.Product-image {
    width: 100%;
    height: 185px;
    object-position: center center;
    object-fit: cover;
}

.Product-row {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.Product-row h3 {
    margin: 0;
    font-size: 18px;
}

.Product-row .Product-price {
    margin: 0;
    font-size: 18px;
}

.Product-row p {
    margin: 0;
    font-size: 14px;
}

.Product .Product-description {
    font-size: 14px;
    margin: 0 5px;
}