@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* Begin Navbar */
.Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
}

.Navbar-brand h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}

.Navbar a {
    text-decoration: none;
    color: black;
}

.Navbar a:hover {
    text-decoration: underline;
}

.Navbar-links-right .Navbar-link {
    padding: 0 20px;
}

.Navbar-links-left .Navbar-link {
    padding: 0 20px;
}

.Navbar-burger {
    width: 25px;
    height: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 13px;
    right: 15px;
}

.Navbar-burger:hover {
    cursor: pointer;
}

.Navbar-burger:hover .Navbar-bar {
    background-color: #3E3E3E;
}

.Navbar-bar {
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 5px;
}

.Navbar-links-right, .Navbar-links-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Navbar-spacer {
    height: 61px;
}

@media (max-width: 900px){
    .Navbar-spacer {
        height: 43px;
    }

    .Navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 15px 5px 15px;
    }

    .Navbar.active {
        background-color: #DAD8D8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .Navbar-burger {
        display: flex;
    }

    .Navbar-links-right, .Navbar-links-left {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .Navbar-links-right a.Navbar-link, .Navbar-links-left a.Navbar-link {
        font-size: 20px;
        padding: 15px 0;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #BFBFBF;
    }

    .Navbar-links-right a:last-of-type {
        border: none;
    }

    .Navbar.active .Navbar-links-right, .Navbar.active .Navbar-links-left {
        display: flex;
    }
}

@media (min-width: 900px){
    .Navbar .Navbar-signup-btn {
        border: 1px solid black;
        padding: 10px 15px;
        border-radius: 5px;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
    }

    .Navbar .Navbar-signup-btn:hover {
        background-color: #EFEFEF;
        cursor: pointer;
    }
}
/* End Navbar */

/* Begin Footer */
.LandingPage-footer {
    text-align: center;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    box-sizing: border-box;
    background-color: #EFEFEF;
    border-top: 1px solid #D2D2D2;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.Footer-spacer {
    height: 52px;
}

@media (max-width: 1000px){
    .Footer-spacer {
        height: 94px;
    }
}
/* End Footer */

.main-container {
    width: 90%;
    max-width: 700px;
    margin: auto;
}

.main-container h2 {
    text-align: center;
    font-size: 24px;
}

.main-container p, .main-container li {
    font-size: 18px;
}

.handcrafted {
    margin-top: 100px;
    text-align: center;
}

.handcrafted span {
    color: red;
}