.CartItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #B5B5B5;
    margin-bottom: 20px;
}

.CartItem img {
    width: 230px;
    border-radius: 5px;
}

.CartItem-name-container {
    margin: 0 10px;
}

.CartItem-name-container h3 {
    font-size: 24px;
    margin: 0;
}

.CartItem-name-container p {
    font-size: 18px;
    margin: 1px 0 0 0;
}

.CartItem-price-container .CartItem-price {
    font-size: 24px;
    margin: 0;
    text-align: right;
}

.CartItem-price-container .CartItem-quantity {
    font-size: 18px;
    margin: 1px 0 0 0;
    text-align: right;
}

.CartItem-remove {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #B5B5B5;
    text-decoration: underline;
    margin: 10px 0;
    cursor: pointer;
}

.CartItem-inner-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.CartItem-outer-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.CartItem-description {
    margin: -90px 90px 0 240px;
    height: 90px;
}

@media (max-width:1000px){   
    .CartItem-inner-container {
        flex-direction: column;
    }

    .CartItem-description {
        margin: 20px 0;
        height: auto;
    }

    .CartItem img {
        width: 140px;
        object-fit: contain;
    }

    .CartItem-name-container {
        margin: 0;
    }

    .CartItem-name-container h3 {
        font-size: 18px;
        text-align: right;
    }

    .CartItem-name-container p {
        font-size: 14px;
        text-align: right;
        margin: 1px 0 0 0;
    }

    .CartItem-price-container .CartItem-price {
        font-size: 18px;
        text-align: right;
        margin: 0;
    }

    .CartItem-price-container .CartItem-quantity {
        font-size: 14px;
        text-align: right;
        margin: 1px 0 0 0;
    }
}