.CheckoutPage-main-container {
    width: 90%;
    max-width: 1300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CheckoutPage-main-container h2 {
    font-size: 36px;
    margin: 10px 0;
}

.CheckoutPage-main-container h3 {
    text-align: center;
    font-size: 24px;
    margin: 10px 0;
}

.CheckoutPage-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CheckoutPage-form>div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.CheckoutPage-subform {
    width: 100%;
    margin-bottom: 20px;
}

.CheckoutPage-subform:first-of-type {
    margin-right: 40px;
}

.CheckoutPage-btn {
    max-width: 550px;
    width: 100%;
    margin-bottom: 20px;
}

.CheckoutPage-field-container {
    display: flex;
}

.CheckoutPage-field-container div {
    width: 100%;
}

@media (max-width: 900px){
    .CheckoutPage-form>div {
        flex-direction: column;
    }
}

.CheckoutPage-label {
    font-size: 18px;
}

.CheckoutPage-label span {
    font-size: 14px;
}